.radiobox {
  height: 20px;
  width: 20px;
  border: 2px var(--secondary) solid;
  border-radius: 50%;
}

.fill {
  background-color: var(--success);
  border: 2px var(--success) solid
}

.delete {
  text-decoration: line-through;
}